<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Game</title>
	<link rel="shortcut icon" href="/static/icons/favicon.png">
	<link rel="stylesheet" type="text/css" href="/static/style/index.css">
</head>
<body>

<nav>
	<span>Miner Game</span>
	<a href="/login"><button>Sign in</button></a>
</nav>
<div id="content">
	<p>You click tiles on a grid to uncover diamonds and raise your multiplier, but hitting a mine ends the round and you lose your bet. There's also the option to cash out early and lock in your winnings. It's a quick game of pure luck and risk-reward.</p>
	<a href="/signup"><button>Sign up</button></a>
	<center>
		{% if leaderboard %}
			<table rules="all">
				<tr>
					<td style="color: #003459;font-weight: bold;font-size: 20px;">Top players</td>
					<td style="color: #003459;font-weight: bold;font-size: 20px;">Won</td>
				</tr>
				{% for i in leaderboard %}
					<tr>
						<td>{{i.name}}</td>
						<td>{{i.coins}}</td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}
	</center>
</div>
</body>
</html>